<div class="platform-area ourplatform">
          <div class="containerGlobal">
            <div class="platform-whole-box">
              <div class="who-text title"><h3>Other Platforms</h3>
                <h2>Our Work Proof Across a Variety of Domains</h2>
                <p class="custom-font-18">Having evolved from expertise-based services to becoming a one-stop solution,
                  TechSqueez has indeed made great strides. Our experts continue to refine their skills to deliver the
                  highest quality products and meet your highest expectations.</p></div>
              <div class="skills-platform-box">
<!--                <a target="_blank" rel="noopener noreferrer" href="https://dribbble.com//">-->
                <a target="_blank" rel="noopener noreferrer">
                <div class="service-inner"><img
                  src="assets/images/other-plateform/dribbble.png" alt=""
                  class="lazyload">
                  <div class="skills-text"><h2>Dribbble</h2></div>
                </div>
<!--              </a><a target="_blank" rel="noopener noreferrer" href="https://www.behance.net//">-->
              </a><a target="_blank" rel="noopener noreferrer" >
                <div class="service-inner"><img
                  src="assets/images/other-plateform/behance.png" alt=""
                  class="lazyload">
                  <div class="skills-text"><h2>Behance</h2></div>
                </div>
<!--              </a><a target="_blank" rel="noopener noreferrer" href="https://github.com//">-->
              </a><a target="_blank" rel="noopener noreferrer" >
                <div class="service-inner"><img
                  src="assets/images/other-plateform/github.png" alt=""
                  class="lazyload">
                  <div class="skills-text"><h2>Github</h2></div>
                </div>
              </a></div>
            </div>
          </div>
        </div>
