@media (max-width:1600px){
    .portfolio_area_two .slick-slide .item img,.portfolio_area_three .item img{
        max-width: 100%;
    }
    .portfolio_area_two .slick-slide,.portfolio_area_three .slick-slide{
        padding: 30px 40px 55px;
    }
    .blog_slider .item img{
        max-width: 100%;
    }
    .blog_slider.slick-initialized .slick-slide{
        padding-right: 0;
    }
    .blog_slider{
        margin-right: -100px;
        right: 0;
    }
    .blog_slider .item .img_two{
        width: 500px;
        right: 30px;
    }
    .blog_slider .item .round{
        right: 22px;
    }
}


@media (max-width:1400px){
    .demo_features_area .col-lg-3,.demo_features_area .col-lg-4{
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .demo_features_area .offset-lg-1{
        margin-left: 0;
    }
    .filtering_demos .nav-tabs .nav-item + .nav-item {
        margin-left: 40px;
    }
    .elemator_img img{
        max-width: 85%;
    }
    .utility_area .u_content{
        max-width: 100%;
        padding-right: 20px;
        padding-left: 70px;
    }
    .responsive_area .responsive_device img{
        max-width: 25%;
    }
    .responsive_area .responsive_device img:nth-child(3){
        width: 280px;
        max-width: 100%;
    }
    .responsive_area .row{
        align-items: flex-end;
    }
    .responsive_area .col-lg-8{
        flex: 0 0 60%;
        max-width: 60%;
    }
    .responsive_area .col-lg-4{
        flex: 0 0 40%;
        max-width: 40%;
    }
    .portfolio_area .p_slider_inner .arrow i.nexts{
        right: 10px;
    }
    .portfolio_area .p_slider_inner .arrow i.prevs{
        left: 10px;
    }
    .c_features_area_two .c_features_item {
        padding: 0px;
    }
    .testimonial_slider .slick-slide{
        padding-left: 35px;
        padding-right: 35px;
    }
    .banner_text .price h3 {
        font-size: 190px;
        line-height: 160px;
    }
    .banner_text .price:before{
        right: -148%;
        z-index: -1;
    }
    .banner_text .price .offer_text{
        font-size: 30px;
    }
    .banner_text .price .offer{
        padding-top: 0;
        padding-bottom: 0;
    }
    .banner_text h6{
        margin-bottom: 5px;
    }
    .body_wrapper.promotion .banner_text{
        margin-top: -60px;
    }

    .banner_text_two .price h3 {
        font-size: 190px;
        line-height: 160px;
    }
    .banner_text_two .price:before{
        right: -148%;
        z-index: -1;
    }
    .banner_text_two .price .offer_text{
        font-size: 30px;
    }
    .banner_text_two .price .offer{
        padding-top: 0;
        padding-bottom: 0;
    }
    .banner_text_two h6{
        margin-bottom: 5px;
    }
}
@media (max-width:1366px){
    .demo_feature_area .row{
        padding-left: 0;
    }
    .demo_feature_area .f_img img{
        max-width: 100%;
    }
    .demo_feature_area .f_content h2 br{
        display: none;
    }
    .blog_slider .item .img_two{
        width: 400px;
    }
    .blog_slider{
        margin-right: 0;
    }
    .blog_slider .item{
        padding-right: 150px;
    }
    .blog_slider .item .img_two {
        width: 450px;
        right: 65px;
    }
    .blog_slider .item .round{
        top: 19px;
    }
    .blog_area .u_content h2{
        font-size: 32px;
    }
    .blog_slider .item .img_two {
        width: 358px;
    }
    .blog_slider .item .round {
        right: 54px;
    }
    .navbar{
        background: #fff;
        width: 100%;
        top: 80px;
        left: 0;
        -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.06);
        box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.06);
    }
    .banner_text h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .banner_text p {
        font-size: 17px;
    }
    .c_features_area_two .section_title h2 span{
        display: block;
    }
    .c_features_area_two .section_title h2 br{
        display: none;
    }
    .test_inner .arrow .tprevs {
        left: 376px;
    }
    .test_inner .arrow .tnexts {
        right: 376px;
    }
    .section_title .number {
        font-size: 100px;
        line-height: 82px;
        margin-bottom: 25px;
    }
    .banner_text_two h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .banner_text_two p {
        font-size: 17px;
    }
}
@media (max-width:1199px){
    .navbar-nav{
        padding-left: 0;
    }
    .navbar .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav .nav-item {
        margin-left: 20px;
    }
    .plugin_area h2 br{
        display: none;
    }
    .f_two .f_content {
        margin-left: 30px;
    }
    .demo_feature_area .row.f_one .f_content{
        margin-top: 0;
    }
    .shop_area .u_content{
        padding-left: 0;
    }
    .blog_slider .item .img_two{
        right: 65px;
    }
    .blog_area .u_content h2{
        font-size: 27px;
        line-height: 37px;
    }
    .blog_slider .item{
        padding-left: 10px;
    }
    .blog_slider .item img {
        max-width: 100%;
    }
    .blog_slider {
        margin-right: -48px;
    }
    .blog_slider .item .round{
        right: 74px;
    }
    .responsive_content .u_content h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .responsive_content .u_content p{
        margin-bottom: 0;
    }
    .responsive_area .responsive_device img:nth-child(3) {
        width: 265px;
        max-width: 100%;
    }
    .responsive_area .responsive_device img {
        max-width: 23%;
    }
    .portfolio_area .portfolio_slider .slick-slide{
        padding: 10px 15px 25px;
    }
    .portfolio_area_two .slick-slide{
        padding-left: 20px;
        padding-right: 20px;
    }
    .portfolio_area .portfolio_slider{
        margin-top: 0;
    }
    .c_features_area_two .section_title h2 br{
        display: none;
    }
    .testimonial_slider .slick-slide .item{
        padding-left: 30px;
        padding-right: 30px;
    }
    .f_logo img{
        width: 80px;
    }
    .test_inner .arrow .tprevs {
        left: 55px;
    }
    .test_inner .arrow .tnexts{
        right: 55px;
    }
}
@media (max-width:1700px){

    .responsive_area .responsive_device img{
        max-width: 25%;
    }
    .responsive_area .responsive_device img:nth-child(3){
        width: 280px;
        max-width: 100%;
    }
}
@media (max-width:1450px){
    body {
        font: 400 14px/24px "Poppins", sans-serif;
    }
    .f_content h2 {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 20px;
    }
    .f_content p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 15px;
        padding-right: 40px;
    }
    .utility_area .col-lg-6 img,
    .demo_feature_area .custom_container .f_img img {
         width: 100%;
        height: auto;
    }
    .typography_part .typgraphy_content h2 {
        font-size: 28px;
        line-height: 1.5;
        margin-bottom: 19px;
    }
    .typography_part .typgraphy_content h2 br {
        display: none;
    }
    .plugin_item,
    .c_features_item {
        margin-bottom: 40px;
    }
    .responsive_content .u_content h2 {
        font-size: 25px;
        line-height: 1.42;
        margin-bottom: 25px;
    }
    .responsive_content .u_content .item h5 {
        font-size: 16px;
    }
    .f_btn {
        margin-top: 10px;
    }
}
@media (max-width:767px){
    .f_two .f_content {
        padding: 0 20px;
    }
    .f_two .f_content p {
        padding-right: 0;
    }
    .f_content .g_logo {
        width: 50px;
        height: 50px;
        line-height: 66px;
        margin-bottom: 20px;
    }
    .f_content .g_logo img {
        width: 18px
    }
    .f_content h2 {
        font-size: 22px;
        line-height: 1.4;
         margin-bottom: 10px;
    }
    .f_content p {
        font-size: 14px;
    }
    .plugin_area h2, .section_title h2 {
        font-size: 28px;
        line-height: 1.5;
    }
    .section_title p {
        font-size: 15px;
        line-height: 1.5;
    }

}



@media (max-width:767px){
    .utility_area .utility_left,.utility_area .utility_right{
        width: 100%;
    }
    .utility_area{
        display: block;
    }
    .plugin_area h2 ,.section_title h2{
        font-size: 30px;
        line-height: 44px;
    }
    .portfolio_area_two .section_title h2{
        word-break: break-all;
    }
    .utility_area .u_content{
        padding-left: 15px;
        padding-top: 20px;
        padding-right: 15px;
    }
    .container{
        max-width: 100%;
    }
    .section_title p br,.section_title h2 br{
        display: none;
    }
    .section_title h2 span{
        display: block;
    }
    .portfolio_area{
        padding: 100px 0px;
    }
    .utility_area{
        padding-top: 10px;
    }
    .blog_slider .item .round {
        right: 41px;
        top: 46px;
    }
    .blog_slider .item .img_two {
        width: auto;
        max-width: 400px;
    }
    .test_inner .arrow .tprevs {
        left: 5px;
    }
    .test_inner .arrow .tnexts{
        right: 5px;
    }
    .promotion_inner .media span{
        display: none;
    }
    .promo_banner .countdown{
        justify-content: flex-end;
        padding-right: 30px;
    }

}




@media (max-width:480px){
    .banner_text h2 {
        font-size: 29px;
        line-height: 36px;
    }
    .responsive_area .responsive_device img:nth-child(4){
        display: none;
    }
    .blog_slider .item .img_two{
        display: none;
    }
    .blog_slider .item{
        padding-right: 0;
    }
    .blog_slider .item .round {
        right: 0px;
        top: 0;
    }
    .banner_text .d-flex,.banner_text_two .d-flex{
        display: block !important;
    }
    .banner_text_two .dmeo_banner_btn_two{
        margin-left: 0;
        margin-top: 8px;
    }
    .banner_text h6{
        font-size: 15px;
        margin-bottom: 7px;
    }
}
@media(max-width:350px){
    .promotion_inner .media{
        font-size: 12px;
    }
}
