<div class="ourservice-area desktop spacer">
          <div class="containerGlobal">
            <div class="ourservice-whole-box">
              <div class="row">
                <div class="col">
                  <div class="who-text title left"><h3>OUR SERVICE</h3></div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="service-tabs tab-content">
                    <div role="tabpanel" id="left-tabs-example-tabpane-first" aria-labelledby="left-tabs-example-tab-first" class="fade tab-pane" [ngClass]=" isDesignActive ? 'active show' : ''">
                      <div class="service-content"><h2>UI/UX Design</h2>
                        <div class="serviceimg-box">
                          <div class="service-logo"><img class="img-fluid lazyloaded" src="../assets/images/figma.svg">
                            <p>Figma</p></div>
                          <div class="service-logo"><img class="img-fluid lazyloaded" src="../assets/images/xd.svg">
                            <p>XD</p></div>
                          <div class="service-logo"><img class="img-fluid lazyloaded" src="../assets/images/illustrator.png">
                            <p>Illustrator</p></div>
                          <div class="service-logo"><img class="img-fluid lazyloaded" src="../assets/images/aftereffects.png">
                            <p>After Effects</p></div>
                        </div>
                        <p> Our experienced designers provide responsive design solutions for web &amp; mobile
                          applications by creating nothing but absolute masterpieces.</p>
                        <div class="primaryButtonBorder Read more"><a routerLink="ui-ux-design">Read more</a></div>
                      </div>
                    </div>
                    <div role="tabpanel" id="left-tabs-example-tabpane-second" aria-labelledby="left-tabs-example-tab-second" class="fade tab-pane" [ngClass]=" isWebActive ? 'active show' : ''">
                      <div class="service-content"><h2>Web Development</h2>
                        <div class="serviceimg-box">
                          <div class="service-logo"><img src="../assets/images/angular-logo.svg"
                                                         class="img-fluid lazyload">
                            <p>Angular</p></div>
                          <div class="service-logo"><img src="../assets/images/react.svg" class="img-fluid lazyload">
                            <p>ReactJs</p></div>
                          <div class="service-logo"><img src="../assets/images/node-js.svg" class="img-fluid lazyload">
                            <p>NodeJs</p></div>
                          <div class="service-logo"><img src="../assets/images/go-lang.svg" class="img-fluid lazyload">
                            <p>Golang</p></div>
                        </div>
                        <p> We offer robust &amp; trending technology web development services for businesses in various
                          categories using high-quality coding standards.</p>
                        <div class="primaryButtonBorder Read more"><a routerLink="web-development">Read more</a></div>
                      </div>
                    </div>
                    <div role="tabpanel" id="left-tabs-example-tabpane-third"
                         aria-labelledby="left-tabs-example-tab-third" class="fade tab-pane" [ngClass]=" isMobileActive ? 'active show' : ''">
                      <div class="service-content"><h2>Mobile App</h2>
                        <div class="serviceimg-box">
                          <div class="service-logo"><img src="../assets/images/android.svg" class="img-fluid lazyload">
                            <p>Android</p></div>
                          <div class="service-logo"><img src="../assets/images/flutter.svg" class="img-fluid lazyload">
                            <p>Flutter</p></div>
                          <div class="service-logo"><img src="../assets/images/ios.svg" class="img-fluid lazyload">
                            <p>iOS</p></div>
                          <div class="service-logo"><img src="../assets/images/react.svg" class="img-fluid lazyload">
                            <p>React Native</p></div>
                        </div>
                        <p>Our team of App Developers utilizes modern technology and innovative thinking to bring clients
                          tailor-made application solutions for multiple platforms. </p>
                        <div class="primaryButtonBorder Read more"><a routerLink="mobile-app-development">Read more</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ms-auto col-lg-6 col-md-12 col-sm-12">
                  <div class="flex-column service-pills nav nav-pills" role="tablist">
                    <div class="primaryButtonBorder see-all"><a routerLink="our-services">See All Services</a></div>
                    <div class="nav-item"><a (click)="changeActiveTab('design')" role="tab" data-rr-ui-event-key="first" id="left-tabs-example-tab-first"
                                             aria-controls="left-tabs-example-tabpane-first" aria-selected="true"
                                             class="nav-link" [ngClass]="isDesignActive ? 'active' : ''">
                      <div class="servicetabs-content"><h2>Design</h2>
                        <p>Bring businesses to life with intuitive, vibrant, and solid designs.</p></div>
                    </a></div>
                    <div class="nav-item">
                      <a (click)="changeActiveTab('web')" role="tab" data-rr-ui-event-key="second" id="left-tabs-example-tab-second" aria-controls="left-tabs-example-tabpane-second" aria-selected="false" tabindex="-1" class="nav-link" [ngClass]=" isWebActive ? 'active' : ''">
                      <div class="servicetabs-content"><h2> Web Development</h2>
                        <p>Offering result-driven web development services to businesses.</p></div>
                    </a></div>
                    <div class="nav-item"><a (click)="changeActiveTab('mobile')" role="tab" data-rr-ui-event-key="third" id="left-tabs-example-tab-third"
                                             aria-controls="left-tabs-example-tabpane-third" aria-selected="false"
                                             tabindex="-1" class="nav-link" [ngClass]=" isMobileActive ? 'active' : ''">
                      <div class="servicetabs-content"><h2>Mobile App Development</h2>
                        <p>Deliver business-focused application development solutions.</p></div>
                    </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ourservice-area mobile spacer">
          <div class="containerGlobal">
            <div class="ourservice-whole-box">
              <div class="row">
                <div class="col">
                  <div class="who-text title left"><h3>OUR SERVICE</h3></div>
                </div>
              </div>
              <div class="service-accordion accordion accordion-flush">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button type="button" aria-expanded="true" class="accordion-button">
                      <div class="servicetabs-content"><h2>Design</h2>
                        <p>Bring businesses to life with intuitive, vibrant, and solid designs.</p></div>
                    </button>
                  </h2>
                  <div class="accordion-collapse collapse show">
                    <div class="service-accordiontabs service-tabs accordion-body">
                      <div class="service-content"><h2>UI/UX Design</h2>
                        <div class="serviceimg-box">
                          <div class="service-logo"><img src="assets/images/figma.svg" class="img-fluid lazyload"
                                                         alt="">
                            <p>Figma</p></div>
                          <div class="service-logo"><img src="assets/images/xd.svg" class="img-fluid lazyload" alt="">
                            <p>XD</p></div>
                          <div class="service-logo"><img src="assets/images/illustrator.png" class="img-fluid lazyload"
                                                         alt="">
                            <p>Illustrator</p></div>
                          <div class="service-logo"><img src="assets/images/aftereffects.png"
                                                         class="img-fluid lazyload" alt="">
                            <p>After Effects</p></div>
                        </div>
                        <p> Our experienced designers provide responsive design solutions for web &amp; mobile
                          applications by creating nothing but absolute masterpieces.</p>
                        <div class="primaryButtonBorder Read more"><a routerLink="ui-ux-design">Read more</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button type="button" aria-expanded="false" class="accordion-button collapsed">
                      <div class="servicetabs-content"><h2> Web Development</h2>
                        <p>Offering result-driven web development services to businesses.</p></div>
                    </button>
                  </h2>
                  <div class="accordion-collapse collapse">
                    <div class="service-accordiontabs service-tabs accordion-body">
                      <div class="service-content"><h2>Web Development</h2>
                        <div class="serviceimg-box">
                          <div class="service-logo"><img src="assets/images/angular-logo.svg"
                                                         class="img-fluid lazyload" alt="">
                            <p>Angular</p></div>
                          <div class="service-logo"><img src="assets/images/react.svg" class="img-fluid lazyload"
                                                         alt="">
                            <p>ReactJs</p></div>
                          <div class="service-logo"><img src="assets/images/node-js.svg" class="img-fluid lazyload"
                                                         alt="">
                            <p>NodeJs</p></div>
                          <div class="service-logo"><img src="assets/images/go-lang.svg" class="img-fluid lazyload"
                                                         alt="">
                            <p>Golang</p></div>
                        </div>
                        <p> We offer robust &amp; trending technology web development services for businesses in various
                          categories using high-quality coding standards.</p>
                        <div class="primaryButtonBorder Read more"><a routerLink="web-development">Read more</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button type="button" aria-expanded="false" class="accordion-button collapsed">
                      <div class="servicetabs-content"><h2>Mobile App Development</h2>
                        <p>Deliver business-focused application development solutions.</p></div>
                    </button>
                  </h2>
                  <div class="accordion-collapse collapse">
                    <div class="service-accordiontabs service-tabs accordion-body">
                      <div class="service-content"><h2>Mobile App</h2>
                        <div class="serviceimg-box">
                          <div class="service-logo"><img src="assets/images/android.svg" class="img-fluid lazyload"
                                                         alt="">
                            <p>Android</p></div>
                          <div class="service-logo"><img src="assets/images/flutter.svg" class="img-fluid lazyload"
                                                         alt="">
                            <p>Flutter</p></div>
                          <div class="service-logo"><img src="assets/images/ios.svg" class="img-fluid lazyload" alt="">
                            <p>iOS</p></div>
                          <div class="service-logo"><img src="assets/images/react.svg" class="img-fluid lazyload"
                                                         alt="">
                            <p>React Native</p></div>
                        </div>
                        <p>Our team of App Developers utilizes modern technology and innovative thinking to bring clients
                          tailor-made application solutions for multiple platforms. </p>
                        <div class="primaryButtonBorder Read more"><a routerLink="mobile-app-development">Read more</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
