<main class="Layout_main__2sEET ">
      <div>
        <div class="ser-hero-section work-hero-section custom-banner">
          <div class="containerGlobal">
            <div class="row">
              <div class="sm-6">
                <div class="service-head"><h1>We Design Products with Creativity, Made with Passion.</h1>
                  <p class="custom-font-18">We help our clients do amazing things in their unique styles. Our hard work
                    brings jaw-dropping first impressions and outstanding results on a second look. Catch a glimpse
                    behind the curtains at our popular project works.<!-- --> </p>
                  <div class="primaryButton"><a class="new-btn" href="/contact-us/">Request an expert session</a></div>
                </div>
              </div>
              <div class="sm-6">
                <div class="service-hero-image"><img
                  src="https://s3.ap-south-1.amazonaws.com/techsqueez.com/our-works/hero.webp" alt="serviceHero"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="solutions-info-main portfolio-section">
          <div class="solutions-info-inner containerGlobal">
            <div class="solutions-info-block d-flex align-items-start">
              <div class="info-title"><h2>Our Portfolio of Web &amp; Mobile App Development Projects.</h2>
                <p> A variety of projects are included in our web &amp; mobile app development portfolio, which has been
                  handled successfully by our experts. By looking at these projects, you'll have a clearer understanding
                  of the skills and expertise of our team. Our goal is to accelerate growth, profitability, and progress
                  by partnering with smart leaders. We have contributed to some of the most innovative and pioneering
                  companies in the world with our ideas. Across industries, organization sizes, and geography, we have
                  experience from cutting-edge startups to established businesses, with a strict commitment to quality
                  and deadlines. Our goal is to provide our clients with an innovative solution that enhances their
                  business and takes them to the next level. As a web and mobile app development company, we have
                  designed and developed software, websites, and applications for enterprises, medium-sized businesses,
                  and startups helping them raise millions and reach millions of users.</p></div>
              <div class="info-text"></div>
            </div>
            <div class="solutions-stats-block d-flex justify-content-center align-items-center">
              <div class="stats-block d-flex flex-column align-items-center justify-content-center">100+ <span>Projects Completed</span>
              </div>
              <div class="stats-block d-flex flex-column align-items-center justify-content-center">90+
                <span>Specialist</span></div>
              <div class="stats-block d-flex flex-column align-items-center justify-content-center">5+ <span>Years Of Experience</span>
              </div>
            </div>
          </div>
        </div>
        <div class="our-work-wrapper">
          <div class="our-work">
            <div class="our-work-content">
              <div class="our-work-content-in"><h2>Mr. SNARK </h2>
                <h3>A Platform for analyzing data and the latest news about crypto &amp; web3 industry.</h3>
                <p>A high-performance, dynamic website, and application aimed at making it easy for any user to analyze
                  and collect the latest crypto data. </p>
                <div class="primaryButtonBorder"><a href="portfolio/mr-snark-cryptocurrency">View Case Study</a></div>
              </div>
            </div>
            <div class="our-work-image">
              <div class="our-image-in" style="background-color:#000000"><img src="/portfolio/mrsnarkmobile.png"
                                                                              class="mobile-image"><img
                src="/portfolio/mrsnarkweb.png" height="750px" width="850px" style="left:1070px;opacity:1"></div>
            </div>
          </div>
          <div class="our-work odd">
            <div class="our-work-image">
              <div class="our-image-in"><img
                src="https://s3.ap-south-1.amazonaws.com/techsqueez.com/our-works/projectSection/polish-mobile.webp"
                class="mobile-image"><img
                src="https://s3.ap-south-1.amazonaws.com/techsqueez.com/our-works/projectSection/1.webp" height="750px"
                width="850px" style="left:0px;opacity:1"></div>
            </div>
            <div class="our-work-content">
              <div class="our-work-content-in"><h2>Polished</h2>
                <h3>The smartest way to find &amp; save product and mani.</h3>
                <p>This app enables users to easily find products and mani&nbsp;based on color, brand, lowest price, and
                  nearby location. </p>
                <div class="primaryButtonBorder"><a href="/portfolio/polished-fashion-and-beauty-app/">View Case
                  Study</a></div>
              </div>
            </div>
          </div>
          <div class="our-work">
            <div class="our-work-content">
              <div class="our-work-content-in"><h2>Game Day</h2>
                <h3>The smartest way to schedule your travel, event, and trip.</h3>
                <p>This app allows sports fans to book their favorite game tickets from anywhere with the touch of a
                  single fingertip. </p>
                <div class="primaryButtonBorder"><a href="/portfolio/gameday-guide-sports-event-ticketing-app/">View
                  Case Study</a></div>
              </div>
            </div>
            <div class="our-work-image">
              <div class="our-image-in" style="background-color:#000000"><img
                src="https://s3.ap-south-1.amazonaws.com/techsqueez.com/our-works/projectSection/game-day-mobile.webp"
                class="mobile-image"><img
                src="https://s3.ap-south-1.amazonaws.com/techsqueez.com/our-works/projectSection/2.webp" height="750px"
                width="850px" style="left:1070px;opacity:1"></div>
            </div>
          </div>
          <div class="our-work odd">
            <div class="our-work-image">
              <div class="our-image-in"><img
                src="https://s3.ap-south-1.amazonaws.com/techsqueez.com/our-works/projectSection/irpg-mobile.webp"
                class="mobile-image"><img
                src="https://s3.ap-south-1.amazonaws.com/techsqueez.com/our-works/projectSection/3.webp" height="750px"
                width="850px" style="left:0px;opacity:1"></div>
            </div>
            <div class="our-work-content">
              <div class="our-work-content-in"><h2>IRPG</h2>
                <h3>A firefighter safety app that features innovative features.</h3>
                <p>Improve fireman safety and efficiency by providing full-text search and bookmarking functionality
                  through the app.</p>
                <div class="primaryButtonBorder"><a href="/portfolio/irpg-emergency-guide-app/">View Case Study</a>
                </div>
              </div>
            </div>
          </div>
          <div class="our-work">
            <div class="our-work-content">
              <div class="our-work-content-in"><h2>Virtual ICS</h2>
                <h3>The most efficient and accurate solution to manage your office employee.</h3>
                <p>Managing and tracking your employees' activities is now easier than ever with one-click capability
                  and modern features.</p>
                <div class="primaryButtonBorder"><a href="/portfolio/virtual-ics-project-management-software/">View Case
                  Study</a></div>
              </div>
            </div>
            <div class="our-work-image">
              <div class="our-image-in" style="background-color:#eb6d6d"><img class="mobile-image"><img
                src="https://s3.ap-south-1.amazonaws.com/techsqueez.com/our-works/projectSection/virtual-mobile.webp"
                height="750px" width="850px" style="left:1070px;opacity:1"></div>
            </div>
          </div>
          <div class="our-work odd">
            <div class="our-work-image">
              <div class="our-image-in"><img
                src="https://s3.ap-south-1.amazonaws.com/techsqueez.com/our-works/projectSection/queso-mobile.webp"
                class="mobile-image"><img
                src="https://s3.ap-south-1.amazonaws.com/techsqueez.com/our-works/projectSection/5.webp" height="750px"
                width="850px" style="left:0px;opacity:1"></div>
            </div>
            <div class="our-work-content">
              <div class="our-work-content-in"><h2>Queso</h2>
                <h3>Capture your favorite memory before it is erased.</h3>
                <p>Enjoyed numerous features in an app that captured your favorite pictures from memorable special
                  occasions with a single click.</p>
                <div class="primaryButtonBorder"><a href="/portfolio/queso-face-recognition-app/">View Case Study</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
