<div class="letsDiscuss_letDiscussStyles__1xlG1">
          <div class="containerGlobal">
            <div class="letsDiscuss_ctaButton__3bZlB">
              <img
              src="assets/image/general/general-2.jpg" alt="CtaImage"
              class="lazyload">
              <div class="letsDiscuss_positionContent__OfQlt"><h2 style="color: greenyellow">Your Trusted Tech Partner for Accelerating Growth! </h2>
                <p style="color: greenyellow">We're a 360-degree enterprise app development company that helps you design and develop mobile apps to
                  elevate your business. Start your digital journey today with TechSqueez.</p>
                <div class="primaryButtonBorder talk-experts"><a routerLink="/contact-us">Talk To Our Experts</a></div>
              </div>
            </div>
          </div>
        </div>
