<div class="hiring-area">
          <div class="containerGlobal">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="hiring-card card">
                  <div class="card-body">
                    <div class="hiring-text"><h2 [innerHTML]="hiringContent.title"></h2>
                      <p [innerHTML]="hiringContent.description"></p>
                      <div class="primaryButtonBorder discuss-btn"><a routerLink="hire-dedicated-developers">Hire Developers
                        Now </a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
