<section class="indusStyles_industriesWrap__9-2M2 hires-industry">
  <div class="containerGlobal">
    <div class="blog-section" style="margin-bottom:20px">
      <div class="sectionStyles_sectionHeadWrap__3NtOT">
        <div class="sectionStyles_sectionHeadInner__32Qxo"><h2 class=" text-left">Top Industries We Serve</h2>
        </div>
      </div>
      <p class="custom-font-18  text-left" style="color:#707070">We provide Digital Transformation solutions for
        every industrial sector, with solutions that reinvent corporate operations and encourage creativity. By
        unlocking new value, developing trust, and delivering transparency throughout their businesses. </p></div>
    <div class="indusStyles_industriesList__bQu8X">
      <div>
        <section class="industries-wrap">
          <div class="indus-inner-wrap">
            <div class="col-sm-6 indus-images">
              <div class="indus-images-content">
                <div class="indus-image"><img src="assets/NewImage/sport.jpeg" alt="SPORTS"  [ngClass]="sports ? 'is-active' : 'false'" class="lazyload" ></div>
                <div class="indus-image"><img src="assets/NewImage/realestate.jpeg" alt="REAL ESTATE" [ngClass]="realEstate ? 'is-active' : 'false'" class="lazyload" ></div>
                <div class="indus-image"><img src="assets/NewImage/ecommerce.jpg" alt="E-COMMERCE" [ngClass]="eCommerce ? 'is-active' : 'false'" class="lazyload" ></div>
                <div class="indus-image"><img src="assets/NewImage/travels.jpg" alt="TRAVEL &amp; TOURISM" [ngClass]="travelAndTourism ? 'is-active' : 'false'" class="lazyload" ></div>
                <div class="indus-image"><img src="assets/NewImage/business-app.jpg" alt="BUSINESS APP" [ngClass]="businessApp ? 'is-active' : 'false'" class="lazyload" ></div>
                <div class="indus-image"><img src="assets/NewImage/education.jpg" alt="EDUCATION " [ngClass]="education ? 'is-active' : 'false'" class="lazyload" ></div>
                <div class="indus-image"><img src="assets/NewImage/mediaentertainmet.png" alt="MEDIA &amp; ENTERTAINMENT" [ngClass]="mediaAndEntertainment ? 'is-active' : 'false'" class="lazyload" ></div>
                <div class="indus-image"><img src="assets/NewImage/fintech.jpg" alt="FINTECH" [ngClass]="fintech ? 'is-active' : 'false'" class="lazyload" ></div>
                <div class="indus-image"><img src="assets/NewImage/healthcare.jpg" alt="HEALTHCARE"  [ngClass]="healthCare ? 'is-active' : 'false'" class="lazyload" ></div>
                <div class="indus-image"><img src="assets/NewImage/health-fitness-1.jpg" alt="FITNESS &amp; WELLNESS" [ngClass]="fitnessAndWellNess ? 'is-active' : 'false'" class="lazyload" ></div>
                <div class="indus-image"><img src="assets/NewImage/logistic.jpg" alt="LOGISTICS" [ngClass]="logistic ? 'is-active' : 'false'" class="lazyload" ></div>
              </div>
            </div>
            <div class="col-sm-6 indus-listing">
              <div class="indus-listing-inner-wrap d-flex-column shadow-box">
                <div class="indus-listing-inner-wrap-in">
                  <div class="indus-title-item">
                    <div class="indus-title"><h3 [ngClass]="sports ? 'active-index' : ''">SPORTS</h3></div>
                  </div>
                  <div class="indus-titcle-item">
                    <div class="indus-title"><h3 (mouseenter)="mouseEnterEvent('fintech')" (mouseleave)="mouseOutEvent('fintech')"  [ngClass]="fintech ? 'active-index' : ''">FINTECH</h3></div>
                  </div>
                  <div class="indus-title-item">
                    <div class="indus-title"><h3 (mouseenter)="mouseEnterEvent('logistic')" (mouseleave)="mouseOutEvent('logistic')"  [ngClass]="logistic ? 'active-index' : ''">LOGISTICS</h3></div>
                  </div>
                  <div class="indus-title-item">
                    <div class="indus-title"><h3 (mouseenter)="mouseEnterEvent('eCommerce')" (mouseleave)="mouseOutEvent('eCommerce')"  [ngClass]="eCommerce ? 'active-index' : ''">E-COMMERCE</h3></div>
                  </div>
                  <div class="indus-title-item">
                    <div class="indus-title"><h3 (mouseenter)="mouseEnterEvent('education')" (mouseleave)="mouseOutEvent('education')"  [ngClass]="education ? 'active-index' : ''">EDUCATION </h3></div>
                  </div>
                  <div class="indus-title-item">
                    <div class="indus-title"><h3 (mouseenter)="mouseEnterEvent('healthCare')" (mouseleave)="mouseOutEvent('healthCare')"  [ngClass]="healthCare ? 'active-index' : ''">HEALTHCARE</h3></div>
                  </div>
                  <div class="indus-title-item">
                    <div class="indus-title"><h3 (mouseenter)="mouseEnterEvent('realEstate')" (mouseleave)="mouseOutEvent('realEstate')"  [ngClass]="realEstate ? 'active-index' : ''">REAL ESTATE</h3></div>
                  </div>
                  <div class="indus-title-item">
                    <div class="indus-title"><h3 (mouseenter)="mouseEnterEvent('businessApp')" (mouseleave)="mouseOutEvent('businessApp')"  [ngClass]="businessApp ? 'active-index' : ''">BUSINESS APP</h3></div>
                  </div>
                  <div class="indus-title-item">
                    <div class="indus-title"><h3 (mouseenter)="mouseEnterEvent('travelAndTourism')" (mouseleave)="mouseOutEvent('travelAndTourism')"  [ngClass]="travelAndTourism ? 'active-index' : ''">TRAVEL &amp; TOURISM</h3></div>
                  </div>
                  <div class="indus-title-item">
                    <div class="indus-title"><h3 (mouseenter)="mouseEnterEvent('fitnessAndWellNess')" (mouseleave)="mouseOutEvent('fitnessAndWellNess')"  [ngClass]="fitnessAndWellNess ? 'active-index' : ''">FITNESS &amp; WELLNESS</h3></div>
                  </div>
                  <div class="indus-title-item">
                    <div class="indus-title"><h3 (mouseenter)="mouseEnterEvent('mediaAndEntertainment')" (mouseleave)="mouseOutEvent('mediaAndEntertainment')"  [ngClass]="mediaAndEntertainment ? 'active-index' : ''">MEDIA &amp; ENTERTAINMENT</h3></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
