<div class="latestportfolio-area spacer">
          <div class="containerGlobal">
            <div class="portfolio-title-box">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                  <div class="title-content"><h2>OUR RECENT WORKS</h2>
                    <p>Love for development is an essential thing that resides within all techsqueez activities. Our
                      dedicated developers help you to bring value with versatile products and services that bring change
                      in world.</p></div>
                </div>
                <div class="col-lg-4 col-md-12 col-12 ms-auto">
                  <div class="primaryButtonBorder portfoliosee-all"><a routerLink="portfolio">View All Portfolio</a></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="portfolio-whole-box">
                  <div class="project-box "><a href="/portfolio/mr-snark-cryptocurrency/">
                    <div class="project-image"><img data-src="../assets/images/mrsnark.webp" alt=""
                                                    class="img-fluid ls-is-cached lazyloaded"
                                                    src="../assets/images/mrsnark.webp"></div>
                  </a><a href="/portfolio/mr-snark-cryptocurrency/">
                    <div class="project-title"><h3>Mr. SNARK </h3>
                      <p>Cryptocurrency &amp; Web 3</p></div>
                  </a></div>
                  <div class="project-box second"><a href="/portfolio/polished-fashion-and-beauty-app/">
                    <div class="project-image"><img data-src="../assets/images/polished.webp" alt=""
                                                    class="img-fluid lazyloaded" src="../assets/images/polished.webp"></div>
                  </a><a href="/portfolio/polished-fashion-and-beauty-app/">
                    <div class="project-title"><h3>Polished</h3>
                      <p>Fashion E-Commerce App</p></div>
                  </a></div>
                  <div class="project-box "><a href="/portfolio/gameday-guide-sports-event-ticketing-app/">
                    <div class="project-image"><img data-src="../assets/images/gameday.webp" alt=""
                                                    class="img-fluid ls-is-cached lazyloaded"
                                                    src="../assets/images/gameday.webp"></div>
                  </a><a href="/portfolio/gameday-guide-sports-event-ticketing-app/">
                    <div class="project-title"><h3>Gameday Guide</h3>
                      <p>Sports Ticket and Travel Package Booking</p></div>
                  </a></div>
                  <div class="project-box "><a href="/portfolio/queso-face-recognition-app/">
                    <div class="project-image"><img data-src="../assets/images/queso.webp" alt="" class="img-fluid lazyload">
                    </div>
                  </a><a href="/portfolio/queso-face-recognition-app/">
                    <div class="project-title"><h3>Queso</h3>
                      <p>Social Networking Mobile App</p></div>
                  </a></div>
                  <div class="project-box fifth"><a href="/portfolio/irpg-emergency-guide-app/">
                    <div class="project-image"><img data-src="../assets/images/irpg.webp" alt="" class="img-fluid lazyloaded"
                                                    src="../assets/images/irpg.webp"></div>
                  </a><a href="/portfolio/irpg-emergency-guide-app/">
                    <div class="project-title"><h3>IRPG</h3>
                      <p>Safety on the fireline Mobile App</p></div>
                  </a></div>
                  <div class="project-box "><a href="/portfolio/virtual-ics-project-management-software/">
                    <div class="project-image"><img data-src="../assets/images/virtualics.webp" alt=""
                                                    class="img-fluid lazyload"></div>
                  </a><a href="/portfolio/virtual-ics-project-management-software/">
                    <div class="project-title"><h3>Virtual ICS</h3>
                      <p>Fire Incident Reporting Dashboard</p></div>
                  </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
