<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
  <div
    class="top-border wow fadeInDown animated"
    style="visibility: visible; animation-name: fadeInDown"
  ></div>
  <div
    class="right-border wow fadeInRight animated"
    style="visibility: visible; animation-name: fadeInRight"
  ></div>
  <div
    class="bottom-border wow fadeInUp animated"
    style="visibility: visible; animation-name: fadeInUp"
  ></div>
  <div
    class="left-border wow fadeInLeft animated"
    style="visibility: visible; animation-name: fadeInLeft"
  ></div>
</div>
<!--Main Content Area-->
<main id="content">
    <div id="__next">
    <div>
      <app-navigation></app-navigation>
      <main class="Layout_main__2sEET homepage">
        <router-outlet></router-outlet>
<!--        <app-home></app-home>-->
<!--        <app-main-solutions></app-main-solutions>-->
<!--        <app-main-services></app-main-services>-->
<!--        <app-main-developers></app-main-developers>-->
<!--        <app-main-industries></app-main-industries>-->
<!--        <app-main-portfolio></app-main-portfolio>-->
<!--        <app-main-blogs></app-main-blogs>-->
<!--        <app-main-career></app-main-career>-->
<!--        <app-main-about-us></app-main-about-us>-->
<!--        <app-main-contact-us></app-main-contact-us>-->
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</main>
<!--End Main Content Area-->
