<main class="Layout_main__2sEET ">
  <div>
    <div class="banner-custom light-blue-shade">
      <div class="containerGlobal">
        <div class="row">
          <div class="col-6">
            <div class="service-head"><h1>We Seek INNOVATORS</h1>
              <p class="custom-font-18">We help our clients do amazing things in their unique style. Our work brings
                jaw dropping first impressions and outstanding results on second look. Catch a glimpse behind the
                curtains at our popular works.</p></div>
          </div>
          <div class="col-6">
            <div class="service-hero-image"><img
              src="https://s3.ap-south-1.amazonaws.com/multiqos.com/location/career.webp"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="height-80"></div>
  <div>
    <main class="career-main-section">
      <div class="containerGlobal">
        <div class="career-main-inner-wrap">
          <div class="emp-form-head"><h3>Current Openings</h3>
            <p>Have something else in mind?</p>
            <p>Tell us about it at <a href="mailto:career@multiqos.com" class="mail">career@multiqos.com</a></p>
          </div>
          <div class="row inquiry-form-container">
            <div class="col-lg-6 col-md-12 col-sm-12 emp-inquiry">
              <div class="emp-inquiry-wrap">
                <div class="employee-form">
                  <div>
                    <div class="employee-form footer-form carrer-form">
                      <div class="employee-form-inner-wrap footer-form-inner-wrap"><h4>Connect with us</h4>
                        <form>
                          <div class="input-row">
                            <div class="col-sm-6"><input class="form-input ff-input-field" type="text"
                                                         name="first_name" placeholder="First Name"
                                                         fdprocessedid="imhp6"><span class=""></span></div>
                            <div class="col-sm-6"><input class="form-input ff-input-field" type="text"
                                                         name="last_name" placeholder="Last Name"
                                                         fdprocessedid="f0mutj"><span class=""></span></div>
                          </div>
                          <div class="input-row">
                            <div class="col-sm-6"><input class="form-input ff-input-field" type="email" name="email"
                                                         placeholder="Email Address" fdprocessedid="2pa7ve"><span
                              class=""></span><span class=""></span></div>
                            <div class="col-sm-6"><input class="form-input ff-input-field" type="number"
                                                         name="contact_no" placeholder="Contact No."
                                                         fdprocessedid="py6u78"><span class=""></span></div>
                          </div>
                          <div class="emp-input-row">
                            <div class="col-sm-6">
                              <div class="select-wrapper"><select name="experience" id="experience"
                                                                  class="select-experience" placeholder="Experience"
                                                                  fdprocessedid="k1dzz8">
                                <option>Experience</option>
                                <option value="0-1">0-1 Years</option>
                                <option value="2-4">2-4 Years</option>
                                <option value="5+">5+ Years</option>
                              </select></div>
                            </div>
                            <div class="col-sm-6">
                              <div class="select-wrapper"><select name="job_id" id="job_is" placeholder="Experience"
                                                                  class="select-position" fdprocessedid="mq8ql">
                                <option value="" aria-readonly="true">Job Title</option>
                                <option value="7">iOS Developer</option>
                                <option value="8">Python Developer</option>
                                <option value="9">Angular Developer</option>
                                <option value="10">ReactJS Developer</option>
                                <option value="11">WordPress Developer</option>
                              </select></div>
                            </div>
                          </div>
                          <div class="input-row-text-area">
                            <div class="col-sm-12"><textarea type="text" placeholder="Write additional info here"
                                                             cols="10" rows="5" name="additional_info"
                                                             class="ff-input-field"></textarea></div>
                            <div class="file-selector">
                              <div class=" position-custom browse-button"><label for="formFileMultiple"
                                                                                 class="form-label ">Document(if
                                any)</label><input class="form-control file-uploader" type="file"
                                                   id="formFileMultiple" multiple="" name="selectedFile">
                                <p class="error-msg"></p></div>
                            </div>
                            <button class="submit-button" fdprocessedid="wex3ae">submit</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 openings-listing">
              <div class="opening-listing-wrap">
                <div class="opening-listing-inner-wrap">
                  <div class="career-accordion accordion">
                    <div class="accordion-item">
                      <h2 eventkey="7" class="accordion-header">
                        <button type="button" aria-expanded="false" class="accordion-button collapsed"
                                fdprocessedid="4urrk8">
                          <div class="opening-job-head"><h4>iOS Developer</h4>
                            <div class="ope-job-info">
                              <ul>
                                <li><a role="button">3-5 years</a></li>
                                <li><a role="button">1 Openings</a></li>
                                <li><a role="button">full time</a></li>
                                <li><a role="button" class="job-open">open</a></li>
                              </ul>
                            </div>
                          </div>
                        </button>
                      </h2>
                      <div class="accordion-collapse collapse" style="">
                        <div class="accordion-body">
                          <div class="job-information">
                            <div class="job-head"><h6>job description</h6>
                              <ul>
                                <li>We are looking for an iOS developer responsible for the development and
                                  maintenance of applications aimed at a range of iOS devices including mobile
                                  phones and tablet computers. developer's primary focus will be development of iOS
                                  applications and their integration with back-end services.

                                  Responsibilities
                                  Design and build applications for the iOS platform
                                  Ensure the performance, quality, and responsiveness of applications
                                  Collaborate with a team to define, design, and ship new features
                                  Identify and correct bottlenecks and fix bugs
                                  Help maintain code quality, organization, and automatization
                                </li>
                              </ul>
                            </div>
                            <div class="req job-head "><h6>Requirements</h6>
                              <ul>
                                <li class="list-disc">Good knowledge of Swift language</li>
                                <li class="list-disc">Design guidelines</li>
                                <li class="list-disc">Apple's Xcode IDE</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="career-accordion accordion">
                    <div class="accordion-item">
                      <h2 eventkey="8" class="accordion-header">
                        <button type="button" aria-expanded="false" class="accordion-button collapsed"
                                fdprocessedid="wpbrgk">
                          <div class="opening-job-head"><h4>Python Developer</h4>
                            <div class="ope-job-info">
                              <ul>
                                <li><a role="button">2-5 years</a></li>
                                <li><a role="button">2 Openings</a></li>
                                <li><a role="button">full time</a></li>
                                <li><a role="button" class="job-open">open</a></li>
                              </ul>
                            </div>
                          </div>
                        </button>
                      </h2>
                      <div class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <div class="job-information">
                            <div class="job-head"><h6>job description</h6>
                              <ul>
                                <li>Responsibilities
                                  Must have work with ML model of human body
                                  Write effective, scalable code
                                  Develop back-end components to improve responsiveness and overall performance
                                  Integrate user-facing elements into applications
                                  Test and debug programs
                                  Improve functionality of existing systems
                                  Implement security and data protection solutions
                                  Assess and prioritize feature requests
                                  Coordinate with internal teams to understand user requirements and provide
                                  technical solutions
                                </li>
                              </ul>
                            </div>
                            <div class="req job-head "><h6>Requirements</h6>
                              <ul>
                                <li class="list-disc">We are looking for a Python Developer to join our engineering
                                  team and help us develop and maintain various software products.
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="career-accordion accordion">
                    <div class="accordion-item">
                      <h2 eventkey="9" class="accordion-header">
                        <button type="button" aria-expanded="false" class="accordion-button collapsed"
                                fdprocessedid="dfcjcn">
                          <div class="opening-job-head"><h4>Angular Developer </h4>
                            <div class="ope-job-info">
                              <ul>
                                <li><a role="button">3-5 years</a></li>
                                <li><a role="button">2 Openings</a></li>
                                <li><a role="button">full time</a></li>
                                <li><a role="button" class="job-open">open</a></li>
                              </ul>
                            </div>
                          </div>
                        </button>
                      </h2>
                      <div class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <div class="job-information">
                            <div class="job-head"><h6>job description</h6>
                              <ul>
                                <li>Responsibilities
                                  Writing proven, idiomatic, and documented JavaScript, HTML, and CSS
                                  Understanding what is needed for a smooth workflow between you, front-end
                                  developers, and designers
                                  Maintain high performance and compatibility across platforms and devices
                                  Integrate external web services
                                  Communicate carefully with the back-end department to help create a cutting-edge
                                  RESTful API.
                                  Build, Optimize and Maintain Front-End Web Applications
                                </li>
                              </ul>
                            </div>
                            <div class="req job-head "><h6>Requirements</h6>
                              <ul>
                                <li class="list-disc">Expertise in kotlin</li>
                                <li class="list-disc">Vital Android SDK concepts</li>
                                <li class="list-disc">Knowledge of Git</li>
                                <li class="list-disc">Android studio</li>
                                <li class="list-disc">Backend languages</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="career-accordion accordion">
                    <div class="accordion-item">
                      <h2 eventkey="10" class="accordion-header">
                        <button type="button" aria-expanded="false" class="accordion-button collapsed"
                                fdprocessedid="ptrt4s">
                          <div class="opening-job-head"><h4>ReactJS Developer</h4>
                            <div class="ope-job-info">
                              <ul>
                                <li><a role="button">3-5 years</a></li>
                                <li><a role="button">2 Openings</a></li>
                                <li><a role="button">full time</a></li>
                                <li><a role="button" class="job-open">open</a></li>
                              </ul>
                            </div>
                          </div>
                        </button>
                      </h2>
                      <div class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <div class="job-information">
                            <div class="job-head"><h6>job description</h6>
                              <ul>
                                <li>Responsibilities
                                  Developing new user-facing features using React.js
                                  Building reusable components and front-end libraries for future use
                                  Translating designs and wireframes into high quality code
                                  Optimizing components for maximum performance across a vast array of web-capable
                                  devices and browsers
                                </li>
                              </ul>
                            </div>
                            <div class="req job-head "><h6>Requirements</h6>
                              <ul>
                                <li class="list-disc">We are looking for a great JavaScript developer who is
                                  proficient with React.js. developer's primary focus will be on developing user
                                  interface components and implementing them following well-known React.js workflows
                                  (such as Flux or Redux).
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="career-accordion accordion">
                    <div class="accordion-item">
                      <h2 eventkey="11" class="accordion-header">
                        <button type="button" aria-expanded="false" class="accordion-button collapsed"
                                fdprocessedid="wriwb6">
                          <div class="opening-job-head"><h4>WordPress Developer</h4>
                            <div class="ope-job-info">
                              <ul>
                                <li><a role="button">3-5 years</a></li>
                                <li><a role="button">2 Openings</a></li>
                                <li><a role="button">full time</a></li>
                                <li><a role="button" class="job-open">open</a></li>
                              </ul>
                            </div>
                          </div>
                        </button>
                      </h2>
                      <div class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <div class="job-information">
                            <div class="job-head"><h6>job description</h6>
                              <ul>
                                <li>Responsibilities
                                  Designing and building the website front-end.
                                  Creating the website architecture.
                                  Designing and managing the website back-end including database and server
                                  integration.
                                  Generating WordPress themes and plugins.
                                  Conducting website performance tests.
                                  Troubleshooting content issues.
                                </li>
                              </ul>
                            </div>
                            <div class="req job-head "><h6>Requirements</h6>
                              <ul>
                                <li class="list-disc">We are looking to hire a skilled WordPress developer to design
                                  and implement attractive and functional websites for our clients. developer will
                                  be responsible for both back-end and front-end development including the
                                  implementation of WordPress themes and plugins as well as site integration and
                                  security updates.
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</main>
