<div class="whoweare-area spacer">
          <div class="containerGlobal">
            <div class="who-whole-box">
              <div class="row">
                <div class="col-12">
                  <div class=" who-text title left"><h3> Who We Are ? </h3></div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                  <div class="who-title"><h2>Where Technology <br> Meets Business, <br> <!-- -->A Nextgen it
                    solution <br> Company</h2></div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                  <div class="who-content"><p class="taj custom-font-18">We are team of extremely talented web and mobile
                    app developers who have come together to build exceptional software for our clients all over the
                    world. Our goal is to build the future for our clients, helping them automate their businesses, engage
                    their customers and change the world. We will be your trusted tech partner, bringing your idea to
                    reality.<!-- --> <span>SERIOUSLY TALENTED DEVELOPERS BUILDING SERIOUSLY STABLE SOFTWARE.</span>
                    <!-- -->We drive digital transformation projects to make startups successful, bring efficiency into
                    enterprises and make technology accessible to all.</p></div>
                </div></div>
              <div class="col-12">
                <div class="counter-whole-box">
                  <div class="counter-part">
                    <div class="counter-box"><h2><span>100</span>+</h2>
                      <p>Projects Completed</p></div>
                  </div>
                  <div class="counter-part">
                    <div class="counter-box"><h2><span>5</span>+</h2>
                      <p>Years Of Experience</p></div>
                  </div>
                  <div class="counter-part">
                    <div class="counter-box"><h2><span>90</span>+</h2>
                      <p>Specialists</p></div>
                  </div>
                  <div class="counter-part">
                    <div class="counter-box"><h2><span>80</span>+</h2>
                      <p>Happy Clients</p></div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
