<!--<main class="Layout_main__2sEET ">
  <app-banner [bannerContent]="bannerContent"></app-banner>

  <app-who-we-are></app-who-we-are>

  <app-our-service></app-our-service>

  <app-other-plateform></app-other-plateform>

  <app-industries></app-industries>

  <app-plateform></app-plateform>

  <app-talk-to-experts></app-talk-to-experts>

  <app-technology></app-technology>

  <app-hiring [hiringContent]="hiringContent"></app-hiring>


</main>-->




<div class="section section-padding bg-color-light splash-call-to-action">

  <div class="hire-dedicated ptb">
    <div class="sub-container">
      <div class="hire-content bg-skyblue-gradient ">
        <div class="title-text text-white"><h5>Have a Question? Book a Meeting with Our Team!</h5>
          <p>By leveraging the expertise of our skilled technical team, we can turn your outstanding ideas into
            reality with our on-demand solutions.</p>
          <button class="rounded-btn bg-white-btn contact-btn" fdprocessedid="25fh1s"><span>Talk To Our Experts</span>
            <svg width="17" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m10.955.36 4.856 4.842a.78.78 0 0 1-.005 1.109l-4.856 4.843a.78.78 0 0 1-1.312-.563.783.783 0 0 1 .212-.546l3.26-3.25.257-.256H1.456a.778.778 0 0 1-.806-.782.784.784 0 0 1 .806-.781h11.916l-.257-.257-3.26-3.25A.783.783 0 0 1 10.41.15a.779.779 0 0 1 .546.21Z"
                fill="#000" stroke="#fff" stroke-width="0.3"></path>
            </svg>
          </button>
        </div>
        <div class="hire-image">
          <div class="hire-animation">
            <div class="hire-image-01"><img
              src="https://d19cx7uv5wsln6.cloudfront.net/assets/images/hire-image-01.webp" alt="hire-image"></div>
            <div class="hire-image-01"><img
              src="https://d19cx7uv5wsln6.cloudfront.net/assets/images/hire-image-01.webp" alt="hire-image"></div>
          </div>
          <div class="hire-animation">
            <div class="hire-image-02"><img
              src="https://d19cx7uv5wsln6.cloudfront.net/assets/images/hire-image-02.webp" alt="hire-image"></div>
            <div class="hire-image-02"><img
              src="https://d19cx7uv5wsln6.cloudfront.net/assets/images/hire-image-02.webp" alt="hire-image"></div>
          </div>
          <div class="hire-animation">
            <div class="hire-image-03"><img
              src="https://d19cx7uv5wsln6.cloudfront.net/assets/images/hire-image-03.webp" alt="hire-image"></div>
            <div class="hire-image-03"><img
              src="https://d19cx7uv5wsln6.cloudfront.net/assets/images/hire-image-03.webp" alt="hire-image"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="who-we-are pb">
    <div class="container">
      <div class="title">
        <div class="subtitle">Who We Are</div>
        <h2>Your Digital Partner for an Ambitious Journey from Design to Development of Cloud, Web, and Mobile
          Apps.</h2></div>
      <div class="who-we-content">
        <div class="content-detail">
          <div class="row">
            <div class="col-lg-6">
              <div class="content-description"><p>We are a digital transformation &amp; software development company
                that provides cutting-edge engineering solutions. Dedicated to achieving the best, we are
                next-generation disruptive thinkers driven by a passion to enhance the world.</p>
                <p>Our goal is to build the future for our clients, helping them automate their businesses, engage
                  their customers, and change the world. We will be your trusted tech partner, bringing your idea to
                  reality. We drive digital transformation projects to make startups successful, bring efficiency
                  into
                  enterprises, and make technology accessible to all.</p></div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6 col-6">
                  <div class="count-box">
                    <div class="number">170+</div>
                    <div class="content-title">Products Delivered</div>
                  </div>
                </div>
                <div class="col-lg-6 col-6">
                  <div class="count-box">
                    <div class="number">12+</div>
                    <div class="content-title">Years of Experience</div>
                  </div>
                </div>
                <div class="col-lg-6 col-6">
                  <div class="count-box">
                    <div class="number">145+</div>
                    <div class="content-title">Specialists</div>
                  </div>
                </div>
                <div class="col-lg-6 col-6">
                  <div class="count-box">
                    <div class="number">125+</div>
                    <div class="content-title">Happy Clients</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="our-services ptb">
    <div class="sub-container">
      <div class="title">
        <div class="subtitle">What We Offer</div>
        <h3>Our All-Round Software Development Services<!-- --> </h3><a routerLink="/our-services">
        <div class="common-btn right-btn">See All Services
          <svg width="24" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" class="white-right-arrow">
            <path
              d="M23.233 4.767v.001c.327.324.512.764.517 1.223a1.75 1.75 0 0 1-.516 1.232l-.001.001-4.29 4.3a.75.75 0 0 1-1.057-1.066l3.29-3.29.428-.427H1a.75.75 0 1 1 0-1.5h20.605l-.428-.427-3.29-3.28h-.001a.752.752 0 0 1 0-1.066.75.75 0 0 1 1.057 0l4.29 4.3Z"
              fill="#fff" stroke="#000" stroke-width="0.5"></path>
          </svg>
        </div>
      </a></div>
      <div class="content-list mobile-none">
        <ul>
          <li>
            <div class="content-list-left"><img loading="lazy"
                                                src="assets/images/purple-dot.svg"
                                                alt="purple-dot">
              <div class="content"><h4>Creative Design </h4>
                <p> Bring businesses to life with intuitive, vibrant, and solid designs.</p></div>
            </div>
            <div class="content-list-right">
              <div class=" view right in-view" style="--animationDelay:0.7ms;">
                <div class="icon-box"><img loading="lazy" src="assets/images/figma.svg"><span>Figma</span></div>
              </div>
              <div class=" view right in-view" style="--animationDelay:1.7ms;">
                <div class="icon-box"><img loading="lazy" src="assets/images/xd.svg"><span>XD</span></div>
              </div>
              <div class=" view right in-view" style="--animationDelay:2.7ms;">
                <div class="icon-box"><img loading="lazy" src="assets/images/ai.svg"><span>Illustrator</span></div>
              </div>
              <div class=" view right in-view" style="--animationDelay:3.7ms;">
                <div class="icon-box"><img loading="lazy" src="assets/images/ae.svg"><span>After Effects</span>
                </div>
              </div>
            </div>
            <a routerLink="/creative-design-services">
              <div class="right-arrow-icon purple-btn">
                <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.975.002 6.587 1.433l5.666 5.503-12.169.19.031 1.999 12.169-.19-5.493 5.677L8.223 16l7.875-8.124L7.975.002Z"
                    fill="#fff"></path>
                </svg>
              </div>
            </a></li>

          <li>
            <div class="content-list-left"><img loading="lazy"
                                                src="assets/images/yellow-square.svg"
                                                alt="yellow-dot">
              <div class="content"><h4>web development </h4>
                <p> Offering result-driven web development services to businesses.</p></div>
            </div>
            <div class="content-list-right">
              <div class=" view right in-view" style="--animationDelay:0.7ms;"><a class="icon-box"
                                                                                  routerLink="/angular-development"><img
                loading="lazy"
                src="assets/images/angular-icon.svg"><span>Angular</span></a>
              </div>
              <div class=" view right in-view" style="--animationDelay:1.7ms;"><a class="icon-box"
                                                                                  routerLink="/nodejs-development"><img
                loading="lazy"
                src="assets/images/node.svg"><span>NodeJs</span></a></div>
              <div class=" view right in-view" style="--animationDelay:2.7ms;"><a class="icon-box"
                                                                                  routerLink="/reactjs-development"><img
                loading="lazy" src="assets/images/react.svg"><span>ReactJs</span></a>
              </div>
              <div class=" view right in-view" style="--animationDelay:3.7ms;"><a class="icon-box"
                                                                                  routerLink="/golang-development"><img
                loading="lazy"
                src="assets/images/golang-icon.svg"><span>Golang</span></a></div>
            </div>
            <a routerLink="/web-development">
              <div class="right-arrow-icon yellow-btn">
                <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.975.002 6.587 1.433l5.666 5.503-12.169.19.031 1.999 12.169-.19-5.493 5.677L8.223 16l7.875-8.124L7.975.002Z"
                    fill="#fff"></path>
                </svg>
              </div>
            </a></li>
          <li>
            <div class="content-list-left"><img loading="lazy"
                                                src="assets/images/green-circle.svg"
                                                alt="green-dot">
              <div class="content"><h4>mobile app development </h4>
                <p> Deliver business-focused application development solutions.</p></div>
            </div>
            <div class="content-list-right">
              <div class=" view right in-view" style="--animationDelay:0.7ms;"><a class="icon-box"
                                                                                  routerLink="/android-app-development"><img
                loading="lazy"
                src="assets/images/android.svg"><span>Android</span></a></div>
              <div class=" view right in-view" style="--animationDelay:1.7ms;"><a class="icon-box"
                                                                                  routerLink="/flutter-app-development"><img
                loading="lazy"
                src="assets/images/flutter.svg"><span>Flutter</span></a></div>
              <div class=" view right in-view" style="--animationDelay:2.7ms;"><a class="icon-box"
                                                                                  routerLink="/ios-app-development"><img
                loading="lazy" src="assets/images/ios.svg"><span>iOS</span></a>
              </div>
              <div class=" view right in-view" style="--animationDelay:3.7ms;"><a class="icon-box"
                                                                                  routerLink="/react-native-development"><img
                loading="lazy"
                src="assets/images/react.svg"><span>React Native</span></a>
              </div>
            </div>
            <a routerLink="/mobile-app-development">
              <div class="right-arrow-icon green-btn">
                <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.975.002 6.587 1.433l5.666 5.503-12.169.19.031 1.999 12.169-.19-5.493 5.677L8.223 16l7.875-8.124L7.975.002Z"
                    fill="#fff"></path>
                </svg>
              </div>
            </a></li>
          <li>
            <div class="content-list-left"><img loading="lazy"
                                                src="assets/images/purple-triangle.svg"
                                                alt="darkblue-dot">
              <div class="content"><h4>Cloud Computing </h4>
                <p> Offering result-driven web development services to businesses.</p></div>
            </div>
            <div class="content-list-right">
              <div class=" view right in-view" style="--animationDelay:0.7ms;"><a class="icon-box"
                                                                                  routerLink="/aws-development-services"><img
                loading="lazy" src="assets/images/aws.svg"><span>AWS</span></a>
              </div>
              <div class=" view right in-view" style="--animationDelay:1.7ms;"><a class="icon-box"
                                                                                  routerLink="/devops-solutions"><img
                loading="lazy"
                src="assets/images/devops.svg"><span>DevOps</span></a></div>
              <div class=" view right in-view" style="--animationDelay:2.7ms;">
                <div class="icon-box"><img loading="lazy"
                                           src="assets/images/kubernetes.svg"><span>Kubernetes</span>
                </div>
              </div>
              <div class=" view right in-view" style="--animationDelay:3.7ms;">
                <div class="icon-box"><img loading="lazy"
                                           src="assets/images/docker-icon.svg"><span>Docker</span>
                </div>
              </div>
            </div>
            <a routerLink="/cloud-development-services">
              <div class="right-arrow-icon darkblue-btn">
                <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.975.002 6.587 1.433l5.666 5.503-12.169.19.031 1.999 12.169-.19-5.493 5.677L8.223 16l7.875-8.124L7.975.002Z"
                    fill="#fff"></path>
                </svg>
              </div>
            </a></li>
          <li>
            <div class="content-list-left"><img loading="lazy"
                                                src="assets/images/orange-icon.svg"
                                                alt="orange-icon">
              <div class="content"><h4>Digital Transformation </h4>
                <p>We offer scalable digital services that are science-led and surpass the pace of disruption.</p>
              </div>
            </div>
            <div class="content-list-right">
              <div class=" view right in-view" style="--animationDelay:0.7ms;"><a class="icon-box"
                                                                                  routerLink="/artificial-intelligence-development"><img
                loading="lazy"
                src="assets/images/artificial-intelligence(1).svg"><span>Artificial Intelligence</span></a>
              </div>
              <div class=" view right in-view" style="--animationDelay:1.7ms;"><a class="icon-box"
                                                                                  routerLink="/machine-learning-development"><img
                loading="lazy" src="assets/images/brainstorming.svg"><span>Machine Learning</span></a>
              </div>
              <div class=" view right in-view" style="--animationDelay:2.7ms;"><a class="icon-box"
                                                                                  routerLink="/software-development-services"><img
                loading="lazy" src="assets/images/softwaredevelopment.svg"><span>Software Development</span></a>
              </div>
              <div class=" view right in-view" style="--animationDelay:3.7ms;"><a class="icon-box"
                                                                                  routerLink="/big-data-development-services"><img
                loading="lazy"
                src="assets/images/bigdata.svg"><span>Big Data</span></a></div>
            </div>
            <a routerLink="/digital-transformation-services">
              <div class="right-arrow-icon orange-btn">
                <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.975.002 6.587 1.433l5.666 5.503-12.169.19.031 1.999 12.169-.19-5.493 5.677L8.223 16l7.875-8.124L7.975.002Z"
                    fill="#fff"></path>
                </svg>
              </div>
            </a></li>
        </ul>
      </div>
    </div>
  </div>

