<header class="main-header">
  <div class="header-container">
    <div ><a routerLink="/" style="display:flex">
      <img src="assets/NewImage/mainLogo.svg" height="36px" width="36px">
      <div class="logoimage">TechSqueez</div>

    </a></div>
    <div class="main-navigation-wrap d-flex align-items-center">
      <div class="main-navigation">
        <nav class="main-nav">
          <ul>
            <li [routerLinkActive]="['navlink-active']"><a routerLink="/solutions">Solutions</a></li>
            <li [routerLinkActive]="['navlink-active']"><a routerLink="/our-services">Services</a></li>
            <li [routerLinkActive]="['navlink-active']"><a routerLink="/hire-dedicated-developers">Hire Developers</a></li>
            <li [routerLinkActive]="['navlink-active']"><a routerLink="/industries">Industries</a></li>
<!--            <li [routerLinkActive]="['navlink-active']"><a routerLink="/portfolio">Portfolio</a></li>-->
            <!--<li [routerLinkActive]="['navlink-active']"><a routerLink="/blogs">Blogs</a></li>-->
            <li [routerLinkActive]="['navlink-active']"><a routerLink="/about-us">about us</a></li>
            <li [routerLinkActive]="['navlink-active']"><a routerLink="/careers">career</a></li>
          </ul>
        </nav>
      </div>
      <div class="header-button-d-none">
        <div class="primaryButton"><a routerLink="/contact-us">contact us</a></div>
      </div>
      <div class="checkout"></div>
    </div>
  </div>
</header>
