<main class="Layout_main__2sEET ">
  <div>
    <div class="industries-hero-section custom-banner">
      <div class="containerGlobal">
        <div class="row">
          <div class="sm-6">
            <div class="service-head"><h1>Top Industry Verticals We Serve</h1>
              <p class="custom-font-18">We collaborate with you to plan, design, and program your project. Knowledge
                and experience are combined together, always with the goal of creating a professional touch that
                accurately reflects your business.&nbsp;</p>
              <div class="primaryButton"><a class="new-btn" routerLink="/contact-us">Discuss Your Project</a></div>
            </div>
          </div>
          <div class="sm-6">
            <div class="service-hero-image"><img
              src="assets/NewImage/topindustries.webp"
              alt="serviceHero"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="solutions-info-main industries-info-main">
      <div class="solutions-info-inner containerGlobal">
        <div class="solutions-info-block d-flex align-items-start">
          <div class="info-title"><h2>techsqueez Aspires to Change the Way People Connect, Think, and Work in the Real
            World!</h2>
            <p>Our expert developers at techsqueez are committed to offering our clients real-time assistance,
              including bug fixes and minor changes such as configuration difficulties, API integration, and more.
              We also advise and provide better options to our clients for any small improvements that are required
              by their organization.&nbsp;
              All of the components of our solution have been built using modern technology. Furthermore, we
              integrate a real-time socket, which allows for real-time data transmission. To seek end-to-end
              solutions for your upcoming on-demand service application, you can connect with us! </p></div>
          <div class="info-text"></div>
        </div>
        <div class="solutions-stats-block d-flex justify-content-center align-items-center">
          <div class="stats-block d-flex flex-column align-items-center justify-content-center">100+ <span>Projects Completed</span>
          </div>
          <div class="stats-block d-flex flex-column align-items-center justify-content-center">90+
            <span>Specialist</span></div>
          <div class="stats-block d-flex flex-column align-items-center justify-content-center">5+ <span>Years Of Experience</span>
          </div>
        </div>
      </div>
    </div>
    <div class="letsDiscuss_letDiscussStyles__1xlG1">
      <div class="containerGlobal">
        <div class="letsDiscuss_ctaButton__3bZlB lets-big-story">
          <div class="letsDiscuss_inContent__RAAKv">
            <div><h2>Seek Our Hand to Make a Difference!</h2>
              <p>techsqueez team aims to deliver you trusted and quality app solutions at the most budget-fitting
                costs in varying sectors with zero hassle. </p></div>
            <div class="primaryButtonBorder"><a type="button" class="white-btn white-btn-blue-txt"
                                                routerLink="/contact-us">Talk to Our Experts</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="containerGlobal industries-serve-list">
      <div class="industries_sectionHeadWrap__WN_tc">
        <div class="industries_sectionHeadInner__2LUy_"><h2>Serving Diverse Industries</h2>
          <p>We are the most well-known mobile app development company in the world, with limitless mobility
            solutions and renowned on-demand apps. To help you thrive in this competitive industry, we endeavor to
            build and offer unique software/App development solutions for your business.</p></div>
      </div>
      <section class="blogs-list"><a routerLink="/sports-app-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/sport.jpeg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>SPORTS</h2>
            <p>Enhance user engagement and double profits with revenue-driven sports industry solutions.</p>
            <div class="excerpt">Enhance user engagement and double profits with revenue-driven sports industry
              solutions....
            </div>
          </div>
        </div>
      </a><a routerLink="/real-estate-app-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/realestate.jpeg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>REAL ESTATE</h2>
            <p>Take your real estate business to the next level with our innovative real estate solutions.</p>
            <div class="excerpt">Take your real estate business to the next level with our innovative real estate
              solutions....
            </div>
          </div>
        </div>
      </a><a routerLink="/ecommerce-development-solutions">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/ecommerce.jpg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>E-COMMERCE</h2>
            <p>Get a tailor-made eCommerce application to reach closer to your customers. </p>
            <div class="excerpt">Get a tailor-made eCommerce application to reach closer to your customers. ...
            </div>
          </div>
        </div>
      </a><a routerLink="/travel-app-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/travels.jpg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>TRAVEL &amp; TOURISM</h2>
            <p>Offer your customers a rewarding and rich travel experience with our digital solutions.</p>
            <div class="excerpt">Offer your customers a rewarding and rich travel experience with our digital
              solutions....
            </div>
          </div>
        </div>
      </a><a routerLink="/business-application-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/business-app.jpg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>BUSINESS APP</h2>
            <p>Fuel your business with enterprise mobility solutions to enrich customer services &amp; higher
              revenue.</p>
            <div class="excerpt">Fuel your business with enterprise mobility solutions to enrich customer services
              &amp; higher revenue....
            </div>
          </div>
        </div>
      </a><a routerLink="/educational-app-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/education.jpg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>EDUCATION </h2>
            <p>Experience a real learning environment with high-end online education solutions to boost the
              performance.</p>
            <div class="excerpt">Experience a real learning environment with high-end online education solutions to
              boost the performance....
            </div>
          </div>
        </div>
      </a><a routerLink="/media-and-entertainment-app-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/mediaentertainmet.png" alt="blog-image">
          </div>
          <div class="blog-feature-image-info"><h2>MEDIA &amp; ENTERTAINMENT</h2>
            <p>Finest mobility solutions to provide the ultimate user experience for media &amp; entertainment
              apps. </p>
            <div class="excerpt">Finest mobility solutions to provide the ultimate user experience for media &amp;
              entertainment apps. ...
            </div>
          </div>
        </div>
      </a><a routerLink="/fintech-app-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/fintech.jpg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>FINTECH</h2>
            <p>Crafting next-generation mobility solutions curated for the finance and banking industry.</p>
            <div class="excerpt">Crafting next-generation mobility solutions curated for the finance and banking
              industry....
            </div>
          </div>
        </div>
      </a><a routerLink="/healthcare-application-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/healthcare.jpg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>HEALTHCARE</h2>
            <p>Be one step ahead, and harness the true intensity of digital healthcare solutions &amp; services.</p>
            <div class="excerpt">Be one step ahead, and harness the true intensity of digital healthcare solutions
              &amp; services....
            </div>
          </div>
        </div>
      </a><a routerLink="/fitness-and-wellness-app-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/healthcare.jpg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>FITNESS &amp; WELLNESS</h2>
            <p>Delivering simple, safe, and convenient digital mobility solutions to the wellness &amp; fitness
              sector.</p>
            <div class="excerpt">Delivering simple, safe, and convenient digital mobility solutions to the wellness
              &amp; fitness sector....
            </div>
          </div>
        </div>
      </a><a routerLink="/transportation-and-logistics-app-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/logistic.jpg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>LOGISTICS</h2>
            <p>End-to-end mobility solutions that simplify logistics processes and reduce operational barriers.</p>
            <div class="excerpt">End-to-end mobility solutions that simplify logistics processes and reduce
              operational barriers....
            </div>
          </div>
        </div>
      </a><a routerLink="/social-media-app-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/socialnetworking.jpg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>Social Networking</h2>
            <p>Engage more users with cutting-edge, custom, and intuitive solutions for social platforms.</p>
            <div class="excerpt">Engage more users with cutting-edge, custom, and intuitive solutions for social
              platforms....
            </div>
          </div>
        </div>
      </a><a routerLink="/electric-vehicle-app-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img
            src="assets/NewImage/evehicle.jpeg" alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>E-vehicle App</h2>
            <p>Efficient and lucrative mobility solutions to provide the ultimate user experience in the e-vehicle
              industry.</p>
            <div class="excerpt">Efficient and lucrative mobility solutions to provide the ultimate user experience
              in the e-vehicle industry....
            </div>
          </div>
        </div>
      </a><a routerLink="/ott-platform-development-solutions">
        <div class="industrie-item">
          <div class="industries-feature-image"><img src="assets/NewImage/ottplatform.jpeg"
                                                     alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>OTT Industry</h2>
            <p>Innovative mobility solutions to provide an improved &amp; better version for on-demand
              businesses.</p>
            <div class="excerpt">Innovative mobility solutions to provide an improved &amp; better version for
              on-demand businesses....
            </div>
          </div>
        </div>
      </a><a routerLink="/iot-application-development">
        <div class="industrie-item">
          <div class="industries-feature-image"><img src="https://s3.ap-south-1.amazonaws.com/techsqueez.com/iot.jpg"
                                                     alt="blog-image"></div>
          <div class="blog-feature-image-info"><h2>IoT App</h2>
            <p>Transform the world with IoT apps for greater efficiency and smoother collaboration.</p>
            <div class="excerpt">Transform the world with IoT apps for greater efficiency and smoother
              collaboration....
            </div>
          </div>
        </div>
      </a></section>
    </div>
    <div class="hiring-area">
      <div class="containerGlobal">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="hiring-card card">
              <div class="card-body">
                <div class="hiring-text"><h2>HIRE DEDICATED <br> <span>DEVELOPERS</span></h2>
                  <p>We’re the web/app development and design team that walks the talk. We take your <b>VISION,
                    SOLVE</b> the<!-- --> <b>CHALLENGES.</b> From <b> TECHNOLOGY</b> query to<!-- -->
                    <b>SOLUTION,</b> delivering you <b>VALUE </b> for your<!-- --> <b>MONEY </b> with a <b>QUALITY
                      PRODUCT</b> that is worthy of your <b> REPUTATION.</b></p>
                  <div class="primaryButtonBorder discuss-btn"><a routerLink="/hire-dedicated-developers">Hire Developers
                    Now </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="faq-list">
      <div class="faq-section-main">
        <div class="containerGlobal">
          <div class="d-flex flex-column justify-content-center">
            <div class="centerStyles_centerHeadWrap__2tr0Q"><h2 class="">FAQ</h2>
              <p></p></div>
            <div class="accordion_item close">
              <button class="button" fdprocessedid="hcqaq">What Makes On-Demand Apps So Popular?<!-- --> <span
                class="control">V<!-- --> </span></button>
              <div class="answer_wrapper">
                <div class="answer">This remark is appropriate in today's consumer-driven economy. Instant access,
                  better treatment, and a more tailored experience are all advantages of an on-demand strategy. It
                  also enables organizations to get up and running quickly without having to spend heavily on
                  people, technology, or infrastructure.
                </div>
              </div>
            </div>
            <div class="accordion_item close">
              <button class="button" fdprocessedid="3ibcba">What are the benefits of outsourcing on-demand app
                development for your business?<!-- --> <span class="control">V<!-- --> </span></button>
              <div class="answer_wrapper">
                <div class="answer">You can save overhead expenditures and labor and operating costs by partnering
                  with an expert on-demand app development business. Not just that, outsourcing also increases
                  efficiency and allows you to precisely focus on the business activities.
                </div>
              </div>
            </div>
            <div class="accordion_item close">
              <button class="button" fdprocessedid="swquq">What kind of a hiring model do we have for you?<!-- -->
                <span class="control">V<!-- --> </span></button>
              <div class="answer_wrapper">
                <div class="answer">On the market, there are several engagement models to choose from. You must
                  select the most profitable option for your app development services. Weekly, annual, hourly, and
                  fixed cost basis models are among the several recruiting models.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
