<div class="platform-area">
          <div class="containerGlobal">
            <div class="platform-whole-box">
              <div class="who-text title"><h3>PLATFORMS</h3>
                <h2>Trending Technologies</h2>
                <p class="custom-font-18">Love for development is an essential thing that resides within all TechSqueez
                  activities. Our dedicated developers help you to bring value with versatile products and services that
                  bring change in world.</p></div>
              <div class="skills-platform-box">
                <div class="skills-tech-box">
                  <div class="skills-image"><img src="assets/images/flutter.svg" alt="" class="lazyload"></div>
                  <div class="skills-text"><h2>Flutter</h2></div>
                </div>
                <div class="skills-tech-box">
                  <div class="skills-image"><img src="assets/images/reactjs.svg" alt="" class="lazyload"></div>
                  <div class="skills-text"><h2>React</h2></div>
                </div>
                <div class="skills-tech-box">
                  <div class="skills-image"><img src="assets/images/firebase.svg" alt="" class="lazyload"></div>
                  <div class="skills-text"><h2>Firebase</h2></div>
                </div>
                <div class="skills-tech-box">
                  <div class="skills-image"><img src="assets/images/aws.svg" alt="" class="lazyload"></div>
                  <div class="skills-text"><h2>AWS</h2></div>
                </div>
                <div class="skills-tech-box">
                  <div class="skills-image"><img src="assets/images/golang.svg" alt="" class="lazyload"></div>
                  <div class="skills-text"><h2>Golang</h2></div>
                </div>
                <div class="skills-tech-box">
                  <div class="skills-image"><img src="assets/images/ml.svg" alt="" class="lazyload"></div>
                  <div class="skills-text"><h2>AI/ML</h2></div>
                </div>
              </div>
            </div>
          </div>
        </div>
