<main class="Layout_main__2sEET ">
      <section class="ser-hero-section custom-banner">
        <div class="containerGlobal">
          <div class="row">
            <div class="sm-6">
              <div class="service-head"><h1>Our Brilliant Web &amp; Mobile App Solutions</h1>
                <p class="custom-font-18"> We engage talented web and mobile app developers to ensure that projects are
                  delivered on time and to the highest possible coding standards for your on-delivery applications. At
                  techsqueez, we have been offering our clients the world's best and most innovative web and mobile
                  applications from a range of trending and on-demand solutions categories.</p>
                <div class="primaryButton"><a class="new-btn" routerLink="/contact-us">Request A Free Quote</a></div>
              </div>
            </div>
            <div class="sm-6">
              <div class="service-hero-image"><img
                src="assets/NewImage/webmobileapp.jpeg" height="500px" width="500px" alt="serviceHero"></div>
            </div>
          </div>
        </div>
      </section>
      <div class="solutions-info-main">
        <div class="solutions-info-inner containerGlobal">
          <div class="solutions-info-block d-flex align-items-start">
            <div class="info-title"><h2>We Are Here to Transform Your Ideas into a Fresh Source of Energy for Your
              Company!</h2>
              <p>We are a group of incredibly competent mobile &amp; web developers that have banded together to create
                world-class software for our clients. Our mission is to help our clients shape the future by assisting
                them in automating their operations, engaging their consumers, and trying to make a difference. We
                understand your business requirements and have developed ready-to-customized mobile app solutions to
                help your business grow and provide a better client experience.
                Our end-to-end knowledge in e-commerce, marketing, advertisement, and people-to-people marketing, as
                well as other industries, enables us to create web and mobile solutions that are adapted to our clients'
                needs.</p></div>
            <div class="info-text"></div>
          </div>
          <div class="solutions-stats-block d-flex justify-content-center align-items-center">
            <div class="stats-block d-flex flex-column align-items-center justify-content-center">100+ <span>Projects Completed</span>
            </div>
            <div class="stats-block d-flex flex-column align-items-center justify-content-center">90+
              <span>Specialist</span></div>
            <div class="stats-block d-flex flex-column align-items-center justify-content-center">5+ <span>Years Of Experience</span>
            </div>
          </div>
        </div>
      </div>
      <div class="solution-card">
        <div class="letsDiscuss_letDiscussStyles__1xlG1">
          <div class="containerGlobal">
            <div class="letsDiscuss_ctaButton__3bZlB">
              <div class="letsDiscuss_positionContent__OfQlt"><h2>Let us create an impactful business solution
                together</h2>
                <p>techsqueez is a group of talented web and mobile app developers striving to deliver you the best
                  development solutions in town! </p>
                <div class="primaryButtonBorder talk-experts"><a routerLink="/contact-us">Talk To Our Experts</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="containerGlobal">
        <div class="sectionStyles_sectionHeadWrapNew__3t3yd">
          <div class="sectionStyles_sectionHeadInner__32Qxo"><h2 class="  text-left">Our diverse industry
            verticals </h2>
            <p class=" custom-font-18   text-left">We create mobile apps for a variety of popular operating systems,
              including iOS and Android targeting our client base and different market segments. Stay ahead in the
              digital evolution with our custom web &amp; mobile app development solutions.</p></div>
        </div>
        <div class="more-services-main false">
          <div class="more-services-wrap d-flex justify-content-between">
            <div class="more-services-block">
              <div class="block-inner"><img src="assets/NewImage/01.svg" alt="Entrepreneurs"><h6>Entrepreneurs</h6></div>
            </div>
            <div class="more-services-block">
              <div class="block-inner"><img src="assets/NewImage/02.svg" alt="Start-ups"><h6>Start-ups</h6></div>
            </div>
            <div class="more-services-block">
              <div class="block-inner"><img src="assets/NewImage/03.svg" alt="Corporates"><h6>Corporates</h6></div>
            </div>
            <div class="more-services-block">
              <div class="block-inner"><img src="assets/NewImage/04.svg" alt="Institutions"><h6>Institutions</h6></div>
            </div>
          </div>
        </div>
      </div>

      <div class="containerGlobal">
        <div class="client-focus-banner text-center">
          <div class="client-focus-banner-inner"><h2>Client Focus</h2>
            <p>Our experts and developers work in a single direction to deliver quality assured on-demand app solutions
              to cater to the need and preferences of the potential users-allowing you to take your business to newer
              heights. </p>
            <div class="primaryButton new-btn"><a routerLink="/contact-us">Let’s Discuss Your Idea </a></div>
          </div>
        </div>
      </div>
      <div class="on-demand-main">
        <div class="on-demand-inner containerGlobal">
          <div class="sectionStyles_sectionHeadWrapNew__3t3yd">
            <div class="sectionStyles_sectionHeadInner__32Qxo"><h2 class="  text-left">Our Mobile App Solutions</h2>
              <p class=" custom-font-18   text-left">We at techsqueez, build mobile applications that stand out in both
                their innovative design and user-friendly interface. We offer a wide range of mobile application
                solutions to help ease many creases in everyday life. By offering creative solutions and up-to-date
                technology, we cater to your business-specific needs. No matter what business needs you have, whether it
                is B2B or B2C, we have a permanent solutions. Let's work together to make your dream project a
                reality!</p></div>
          </div>
          <div class="solutions-list">
            <ul class="solutions-list-wrap d-flex flex-wrap ">
              <li><span class="icon-img"><img
                src="assets/NewImage/datingapp.svg"
                alt="Dating App"></span><a routerLink="/dating-app-development">Dating App</a></li>
              <li><span class="icon-img"><img
                src="assets/NewImage/fast-delivery.webp"
                alt="Food Delivery App"></span><a routerLink="/food-delivery-app-development">Food Delivery App</a></li>
              <li><span class="icon-img"><img
                src="assets/NewImage/elearning.webp"
                alt="Online eLearning App"></span><a routerLink="/elearning-app-development">Online eLearning App</a></li>
              <li><span class="icon-img"><img
                src="assets/NewImage/beauty.svg"
                alt="Beauty &amp; Salon App"></span><a routerLink="/salon-and-beauty-app-development">Beauty &amp; Salon
                App</a></li>
              <li><span class="icon-img"><img
                src="assets/NewImage/taxi.webp"
                alt="Taxi Booking App"></span><a routerLink="/taxi-booking-app-development">Taxi Booking App</a></li>
              <li><span class="icon-img"><img
                src="assets/NewImage/grocery.webp"
                alt="Grocery Delivery App "></span><a routerLink="/grocery-delivery-app-development">Grocery Delivery
                App </a></li>
              <li><span class="icon-img"><img
                src="assets/NewImage/fashionstore.svg"
                alt="eCommerce Fashion Store"></span><a routerLink="/fashion-ecommerce-app-development">eCommerce Fashion
                Store</a></li>
              <li><span class="icon-img"><img
                src="assets/NewImage/ondemand.svg"
                alt="On-Demand Solution"></span><a routerLink="/on-demand-app-development">On-Demand Solution</a></li>
              <li><span class="icon-img"><img
                src="assets/NewImage/dinner.webp"
                alt="Restaurant Booking App"></span><a routerLink="/restaurant-app-development">Restaurant Booking App</a>
              </li>
              <li><span class="icon-img"><img
                src="assets/NewImage/hotelbooking.svg"
                alt="Hotel Booking App "></span><a routerLink="/hotel-booking-app-development">Hotel Booking App </a></li>
              <li><span class="icon-img"><img
                src="assets/NewImage/MarketplaceApp.svg"
                alt="Marketplace App"></span><a routerLink="/marketplace-app-development">Marketplace App</a></li>
              <li><span class="icon-img"><img
                src="assets/NewImage/eventbooking.svg"
                alt="Event &amp; Ticket Booking"></span><a routerLink="/event-and-ticket-booking-solutions">Event &amp;
                Ticket Booking</a></li>
              <li><span class="icon-img"><img
                src="assets/NewImage/DigitalWallet.svg"
                alt="Digital Wallet App "></span><a routerLink="/digital-wallet-development">Digital Wallet App </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="letsDiscuss_letDiscussStyles__1xlG1">
        <div class="containerGlobal">
          <div class="letsDiscuss_ctaButton__3bZlB lets-big-story">
            <div class="letsDiscuss_inContent__RAAKv">
              <div><h2>Have a Question? Book a Meeting with Our Team!</h2>
                <p class="custom-font-18">Through our on-demand solutions, we can put your excellent ideas into action
                  by relying on the professionalism of our technical staff. </p></div>
              <div class="primaryButtonBorder"><a type="button" class="white-btn white-btn-blue-txt"
                                                  routerLink="/contact-us">Request A Free Quote</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="faq-section-main">
        <div class="containerGlobal">
          <div class="d-flex flex-column justify-content-center">
            <div class="centerStyles_centerHeadWrap__2tr0Q"><h2 class="">FAQ</h2>
              <p></p></div>
            <div class="accordion_item close">
              <button class="button" fdprocessedid="80ojar">What is a Mobile On-Demand App? <span
                class="control">V </span></button>
              <div class="answer_wrapper">
                <div class="answer">It is, in essence, a bespoke mobile app solution built to meet the urgent needs of
                  clients. On-demand smartphone applications such as Uber and Zomato are excellent examples.
                </div>
              </div>
            </div>
            <div class="accordion_item close">
              <button class="button" fdprocessedid="g3zmjm">What are the several ways to make money with an on-demand
                solution app? <span class="control">V </span></button>
              <div class="answer_wrapper">
                <div class="answer">Well, that relies totally on your app and the concept behind it. You may charge your
                  customers directly, similar to Uber, or you can generate money through advertising.
                </div>
              </div>
            </div>
            <div class="accordion_item close">
              <button class="button" fdprocessedid="qnftgr">How long does it take to create a fully functional On-Demand
                App? <span class="control">V </span></button>
              <div class="answer_wrapper">
                <div class="answer">Depending on the complexity of the software and the number of platforms, it usually
                  takes 6 to 1 year. The more complicated the app is, the longer it will take.
                  You may learn more about us by browsing our website or by contacting us using the form below. We'll
                  get back to you as soon as possible
                </div>
              </div>
            </div>
            <div class="accordion_item close">
              <button class="button" fdprocessedid="hpdxu8">How do I hire a dedicated team or developer for my mobile
                app project? <span class="control">V </span></button>
              <div class="answer_wrapper">
                <div class="answer">You can hire a single developer or a development team comprised of experts from
                  several specialties.
                  <ul style="list-style-type: disc;">
                    <li>UI/UX designers</li>
                    <li>Front-end developers</li>
                    <li>Back-end developers</li>
                    <li>QA experts</li>
                    <li>Project managers</li>
                  </ul>
                  <ul>
                    <li> -Send your specifications to us by email or Skype.</li>
                    <li>- During the hiring process, speak with the head of our sales team.</li>
                    <li>-We'll make you speak with the head of the mobile team.</li>
                    <li> -Go over the basics of the project.</li>
                    <li> -Select a hiring model(hourly, daily, weekly).</li>
                    <li>-Hire a developer or a team (signing NDA is required).</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion_item close">
              <button class="button" fdprocessedid="b4yuk8"> Will I be able to switch developers or teams, if I'm
                unhappy with them? <span class="control">V </span></button>
              <div class="answer_wrapper">
                <div class="answer">Obviously, Yes. You can change the developer. Our top aim is to provide satisfied
                  and quality mobile app development services. If you are dissatisfied with the work of a certain
                  developer, we will find you the finest developer available.
                </div>
              </div>
            </div>
            <div class="accordion_item close">
              <button class="button" fdprocessedid="hm3p"> What level of expertise do the developers who will be working
                on my project have? <span class="control">V </span></button>
              <div class="answer_wrapper">
                <div class="answer">At techsqueez, mobile app developers have an average of 5+ years of expertise in the
                  mobile app development field. Our developers keep up with the latest technologies and techniques to
                  create world-class solutions that support market trends. They have a lot of expertise with various
                  project sizes and industries.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
